# Ignorer 
*.bbl
*.blg
*.dvi
*.aux
*.nav
*.out
*.snm
*.toc
*.log
*.pdf
*.synctex.gz
*~
*.avi
*.png
*.jpg
*.png


!./test\ advection\ CS/redaction/Images/*.png

# exception des fichiers permettant les compilations
# ??? a reflechir
# note : les exceptions commencent par !
# voir site :
# https://alexgirard.com/git-book/intermediaire/git-ignore/
# Ignorer les objets et les archives
*.[oa]